# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
.Python
.venv/
env/
venv/
dist/
build/
.eggs/
*.egg-info/

# Tools & caches
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
